@import 'main.css';

body {
    background-color: whitesmoke;
    max-width: 768px;
    margin: auto;
}

.eduki {
    background-color: #4c4cc7;
}

.ongi-etorri {
    color: whitesmoke;
    padding-block: 20px;
    padding-inline: 10px;
    font-size: 25px;
}

.besteak {
    background-color: whitesmoke;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-inline: 10px;
}

.kudeatu h3{
    font-size: 23px;
}

.blokeak {
    display: flex;
    flex-wrap: wrap;
}

.kudeatu a {
    display: block;
    width: calc((100vw / 2) - 30px);
    height: calc((100vw / 2) - 30px);
    border-radius: 14px;
    background-color: #4c4cc7;
    margin: 10px;
    text-align: center;
}

.kudeatu a i {
    color: whitesmoke;
    font-size: 5em;
    padding-top: 10px;
}

.kudeatu a p {
    color: whitesmoke;
    font-size: 1.5em;
}

