@font-face {
    font-family: 'Gill Sanz'; /* Nombre que le das a tu fuente */
    src: url('fonts/Gill-Sans.otf') format('opentype'); /* Ruta donde se encuentra tu archivo de fuente */
  }
  

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sanz';
}

a {
    text-decoration: none;
}